<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adishwarestore.storesalesassistant">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>
        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 0th Level Activities -->
        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".MainActivity"></activity>
        <!-- 1st Level Activities -->
        <activity android:name=".ProductDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".MyAdishwarActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".VisitorLogActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".SalesLogActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".StockCheckActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".LatestNewsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <!-- 2nd Level Activities -->
        <!-- Under MyAdishwar Activity -->
        <activity android:name=".MyAdi_MyAttendanceActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".MyAdi_MyAtt_QRScanActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".MyAdi_MyPerformanceActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".MyAdi_EmpRecognition"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".MyAdi_GreetingsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
    </application>

</manifest>